<div id="dialog-confirm-agent-delete" style="display: none; ">
    Are you sure you want to delete this agent?
</div>
<div  style="display: block; ">
    <div class="top-panel">
        <div class="page-title"><h2>Agents</h2></div>
        <% if (canCreate) { %> <a href="javascript:void(0)" class="button add-agent executable"> <span> Add... </span> </a> <% } %>
    </div>

    <div class="panel">
        <div>
            <% if (agents.length > 0) { %>
            <table class="main-table">
                <thead>
                <tr id="table-title">
                    <th class="first" style="width: 25%">Host</th>
                    <th style="width: 15%">Port</th>
                    <th>Tags</th>
                    <th style="width: 20%">Status</th>
                    <th class="actions">Actions</th>
                </tr>
                </thead>
                <tbody>
                <% for (var i = 0, count = agents.length; i < count; i++) { var agent = agents[i]; %>
                <tr>
                    <td class="first"><%- agent.hostname %></td>
                    <td><%- agent.port %></td>
                    <td>
                        <% if (agent.tags.length > 0) { %>
                        <% for (var j = 0, tagsLength = agent.tags.length; j < tagsLength; j++) { var tag = agent.tags[j]; %>
                        <span class="data-tag" style="margin-right: 7px"><%- tag %></span>
                        <% } %>
                        <% } %>
                    </td>
                    <td>
                        <%- agent.status.name %>
                        <% if (agent.status.name == 'Active' && agent.stats) { %>
                            <span class="agent-stats">
                                running: <%- agent.stats.runningJobs %>;
                                total: <%- agent.stats.totalJobs %>
                            </span>
                        <% } %>
                    </td>
                    <td class="actions">
                        <a href="javascript:void(0)" class="edit-agent" data-agent-id="<%= agent.id %>">Edit</a>
                        <% if (accessRights[agent.id].canDelete) { %> <a href="javascript:void(0)" class="delete-agent executable" data-agent-id="<%= agent.id %>">Delete</a> <% } %>
                    </td>
                </tr>
                <% } %>
                </tbody>
            </table>
            <% } else { %>
            <div class="information-panel"><p> No agents available </p></div>
            <% } %>
        </div>
    </div>
</div>