<div>
<div class="top-panel">
    <div class="page-title"><h2><%= (agent.id ? 'Edit' : 'Create') %> agent <%= agent.id %></h2></div>
</div>
<div class="panel">
    <div class="notification" style="display:none"></div>
    <form id="edit-agent" <% if (!canEdit) { %> class="readonly" <% } %>>
        <table class="forform-table wide" >
            <tr>
                <td class="label-required label-column" style="width: 12%"><label for="hostname">* Host</label></td>
                <td><input id="hostname" name="hostname" type="text" class="required name" value="<%- agent.hostname %>"></td>
            </tr>
            <tr>
                <td class="label-required label-column" style="width: 12%"><label for="port">* Port</label></td>
                <td><input id="port" name="port" type="text" class="required name" value="<%- agent.port %>"></td>
            </tr>
            <tr>
                <td class="label-column"><label for="tags">Tags</label></td>
                <td><textarea rows="2" cols="80" name="tags" id="tags"><%- agent.tags.join(" ") %></textarea></td>
            </tr>
        </table>
        <div class="form-notice">All fields marked with * are required</div>
        <br class="clear"/>

        <div class="stepbutton" >
            <a href="javascript:void(0);" class="button executable" id="save-agent"> <span> Save </span> </a>
            <a href="javascript:void(0);" class="button cancel" > <span> Cancel </span> </a>
        </div>
    </form>
</div>

</div>