<div>
<div class="top-panel">
    <div class="page-title"><h2><%= (agent.id ? 'Edit' : 'Create') %> agent <%= agent.id %></h2></div>
</div>
<div class="panel">
    <div class="notification" style="display:none"></div>
    <form id="edit-agent" <% if (!canEdit) { %> class="readonly" <% } %>>
        <table class="forform-table wide" >
            <tr>
                <td class="label-required label-column" style="width: 12%"><label for="hostname">* Host</label></td>
                <td><input id="hostname" name="hostname" type="text" class="required name" value="<%- agent.hostname %>"></td>
            </tr>
            <tr>
                <td class="label-required label-column" style="width: 12%"><label for="port">* Port</label></td>
                <td><input id="port" name="port" type="text" class="required name" value="<%- agent.port %>"></td>
            </tr>
            <tr>
                <td class="label-column"><label for="tags">Tags</label></td>
                <td><textarea rows="2" cols="80" name="tags" id="tags"><%- agent.tags.join(" ") %></textarea></td>
            </tr>
        </table>
        <div class="form-notice">All fields marked with * are required</div>
        <br class="clear"/>
        <% if (settings) { %>
    <h4>Agent configuration</h4>
    <table class="main-table key-value-table settings">
        <thead>
        <tr id="table-title">
            <th style="width:47%">Key</th>
            <th style="width:48%">Value</th>
        </tr>
        </thead>
        <tbody>
        <% for (var i = 0, count = settings.length; i < count; i++ ) { var config = settings[i]; %>
        <tr>
            <td <% if (config.restartRequired) { %> class="restart-required" title="Changes are applied only after Genesis back-end restart!" <% } %> >
            <label for="<%= config.name %>" > <%= config.name %></label>
            </td>
            <td ><input rel="settings" id="<%= config.name %>" name="<%= config.name %>" <% if ( config.propertyType.name !== "password" ) { %> type="text" <% } else { %> type="password" <% } %> value="<%- config.value %>" class="property-value"></td>
        </tr>
        <% } %>
        </tbody>
    </table>
        <% } %>
        <div class="stepbutton" >
            <a href="javascript:void(0);" class="button executable" id="save-agent"> <span> Save </span> </a>
            <a href="javascript:void(0);" class="button cancel" > <span> Cancel </span> </a>
        </div>
    </form>
</div>

</div>