<div id="dialog-confirm-delete" style="display: none; ">
  Are you sure you want to delete array?
</div>

<div>
  <div class="top-panel">
    <div class="page-title"><h2>Server arrays</h2></div>
    <% if (canCreate) { %> <a href="javascript:void(0);" class="button executable" id="add-array"> <span> Add... </span> </a> <% } %>
  </div>

  <div id="arrays-list" class="panel" style="display: block; ">
    <div style="padding-top: 10px;">
      <% if(serverArrays.length > 0) { %>
      <table class="main-table">
        <thead>
        <tr id="table-title">
          <th style="width: 35%;">Name</th>
          <th style="width: 57%;">Description</th>
          <th style="width: 8%;">Actions</th>
        </tr>
        </thead>
        <tbody>
        <% for(var i = 0, count = serverArrays.length; i < count; i++) { var array = serverArrays[i]; %>
        <tr>
          <td class="first"><a href="javascript:void(0)" class="show-array" data-array-id="<%= array.id %>"><%- array.name %></a></td>
          <td><%- array.description || '' %> </td>
          <td class="actions">
            <a href="javascript:void(0)" class="edit-array executable" data-array-id="<%= array.id %>">Edit</a>
            <% if ( accessRights[array.id].canDelete ) { %>
              <a href="javascript:void(0)" class="delete-array executable" data-array-id="<%= array.id %>">Delete</a>
            <% } %>
          </td>
        </tr>
        <% } %>
        </tbody>
      </table>
      <% } else { %>
      <div class="information-panel"><p> No information </p></div>
      <% } %>
    </div>
  </div>

</div>

