<%
  function varClass(variable) {
    return "workflow-variable " + (!variable.optional ? "required" : "") + (variable.group ? "group" : "");
  }

  function isSelected(key, variable) {
    return variable.defaultValue && variable.defaultValue === key ? 'selected="selected"' : '';
  }

  function disabled(variable, group) {
    var grp = variable.group;
    var defaultVar = group.defVariable || ''
    return !_.size(variable.values) && !grp || grp && variable.name !== defaultVar  ? 'disabled="disabled"' : '';
  }

  function disabledInput(variable, group) {
    var grp = variable.group;
    var defaultVar = group.defVariable || ''
    return grp && variable.name !== defaultVar ? 'disabled="disabled"' : ''
  }

  function isSelected(key, variable) {
    return variable.defaultValue && variable.defaultValue === key ? 'selected="selected"' : '';
  }

  function inputType(variable) {
    if (variable.hidden) return 'hidden';
    switch(variable.type) {
        case 'Boolean' : return 'checkbox';
        default : return 'text';
    }
  }

  function defVal(variable) {
    switch(variable.type) {
        case 'Boolean' : return variable.defaultValue ? 'checked = "checked"' : '';
        default : return variable.defaultValue ? 'value="' + variable.defaultValue + '"' : '';
    }
  }
%>

<% _.each(variables, function(variable, i) {
    var name = variable.name;
    var values = variable.values;
    var group = varGroups[variable.group];
    var groupLabel = group && (i == 0 || variable.group !== variables[i-1].group) ? group.desc : "";
    var required = !variable.optional || groupLabel && group.required;
    var select = typeof(values) !== "undefined" || variable.dependsOn; %>
<div style="margin-top: 10px; <%= (i === variables.length - 1 ? 'margin-bottom: 10px' : '') %>">
    <label for="<%= group ? variable.group : name %>" class="<%= (required ? 'label-required' : '') %>">
    <% if (required) { %>*&nbsp;<% } %> <%= group ? groupLabel : variable.description %>
    </label>
    <div class="value">
        <% if (group) { %>
            <input type="radio" name="<%= variable.group %>" class="group-radio" data-var-name="<%= name %>"
                   <% if (group.defVariable == name) { %> checked <% } %> />
            <label for="<%= name %>" class="group"> <%= variable.description %></label>
        <% } %>
        <% if (select) { %>
            <select id="<%= name %>" <%= disabled(variable, group) %> name="<%= name %>" class="<%= varClass(variable) %>">
              <% if (_.size(values)) {%> <option value="">Please select</option> <% } %>
              <% _.each(_.keys(values), function(key) { %>
                   <option value="<%= key %>" <%= isSelected(key, variable) %> ><%= values[key] %></option>
              <% }) %>
            </select>
        <% } else { %>
          <input type="<%= inputType(variable) %>" class="<%= varClass(variable) %>" id="<%= name %>" name="<%= name %>"  <%= disabledInput(variable, group) %> <%= defVal(variable) %> />
         <% } %>
    </div>
    <div style="clear: both"></div>
</div>
<% }); %>
