<div>
  <div class="top-panel">
    <div class="page-title"><h2>Create new credentials record</h2></div>
  </div>
  <div class="panel">
    <div class="notification" style="display:none"></div>
    <form id="install-credentials">
      <table class="forform-table" <% if (!canEdit) { %> class="readonly" <% } %> >
        <tr>
          <td style="width: 10%" class="label-required label-column"><label for="pairName">* Name</label></td>
          <td><input id="pairName" name="pairName" type="text" class="required name"></td>
        </tr>
        <tr>
          <td class="label-required label-column"><label for="cloudProvider">* Provider</label></td>
          <td><input id="cloudProvider" type="text" class="required name" name="cloudProvider"/></td>
          </td>
        </tr>
        <tr>
          <td class="label-required label-column"><label for="identity">* Identity</label></td>
          <td><input id="identity" name="identity" type="text" class="required name"></td>
        </tr>
        <tr>
          <td class="label-column"><label for="credentials">Password / Ssh key</label></td>
          <td><textarea rows="1" cols="80" name="credentials" id="credentials"></textarea></td>
        </tr>
      </table>
      <div class="form-notice">All fields marked with * are required</div>
      <br class="clear"/>
      <div class="stepbutton" id="save-link-div">
        <a href="javascript:void(0);" class="button executable" id="save-credentials"> <span> Save </span> </a>
        <a href="javascript:void(0);" class="button cancel" > <span> Cancel </span> </a>
      </div>
    </form>
  </div>

</div>