<div class="top-panel">
    <div class="page-title"><h1><%= !project.name ? 'Create new project' : 'Edit main settings' %></h1></div>
</div>

<div id="tab-panel" <% if (readonly) { %> class="readonly" <% } %>>
    <div id="panel">
        <div id="panel-tab-1">
          <div class="notification" style="display: none">   </div>
            <form id="project-attributes">
                <table class="forform-table">
                    <tr>
                        <td style="width:10%"><span class="label-required">* Name</span></td>
                        <td><input name="name" type="text" class="required name" value="<%= project.name %>"></td>
                    </tr>
                    <tr>
                        <td><span class="label-required">* Manager</span></td>
                        <td><input name="projectManager" type="text" class="required name" value="<%= project.projectManager %>"></td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td><textarea rows="" cols="" name="description" ><%= project.description %></textarea></td>
                    </tr>
                </table>
                <div class="form-notice">All fields marked with * are required</div>
                <br class="clear"/>
            </form>
            <div class="stepbutton">
                <a href="javascript:void(0)" class="save button executable"> <span> Save </span> </a>
                <% var cancelUrl = project.id ? ('#project/' + project.id) : '#'; %>
                <a href="<%= cancelUrl %>" class="button" id="ready">
                  <span> Cancel </span>
                </a>
            </div>
        </div>
    </div>

  <div id="delete-project-div" <%= project.name ? '' : 'style="display: none"' %>>
    <div class="top-panel">
      <div class="page-title"><h1> Delete project </h1></div>
    </div>
    <div class="panel">
      <p>Removal of the project is a destructive operation and makes it impossible to access all project-related entities.
        <br>The project can be removed if all the environments of the project are in a "destroyed" state.
      </p>
      <div class="stepbutton">
        <a href="javascript:void(0)" class="delete button dangerous executable">
          <span style=""> Delete project </span>
        </a>
      </div>
    </div>
  </div>
  <div id="dialog-delete-project" style="display: none; ">
    Are you sure you want to delete this project?
  </div>
</div>
