<div id="top-panel">
    <div id="page-title"><h1>Create new instance in '<%= project.name %>' project</h1></div>
    <div id="title-right">
    </div>
</div>

<div id="tab-panel" class="wizard">
    <div id="tabs" data-tabpanel="header">
        <a href="javascript:void(0)" class="tab tab-selected" id="tab1" rel="#panel-tab-1" data-step="1"> <span> Step 1: Select template </span> </a>
        <a href="javascript:void(0)" class="tab" id="tab2" rel="#panel-tab-2" data-step="2"> <span> Step 2: Settings </span> </a>
    </div>
    <div id="panel">

        <div id="panel-tab-1" class="tab-content opened">
            <div class="step-content"></div>
            <div class="stepbutton">
              <a href="project/<%= project.id %>" class="button interrupt-button" > <span> Cancel </span> </a>
              <a href="javascript:void(0);" class="button next-button executable" id="nextstep-tab-1"> <span> Next &nbsp;&nbsp;&gt;</span> </a>
            </div>
        </div>

        <div id="panel-tab-2" class="tab-content">
            <div class="step-content"></div>
            <div class="stepbutton">
              <a href="project/<%= project.id %>" class="button interrupt-button"  > <span> Cancel </span> </a>
              <a href="javascript:void(0)" class="button back-button executable"> <span> &lt;&nbsp;&nbsp; Back </span> </a>
              <a href="javascript:void(0)" class="button last-step-button executable disabled" id="ready"> <span> Create </span> </a>
            </div>
        </div>

    </div>
</div>
