<% var now = new Date(); %>
<% var hide = _.size(environments) > 1; %>
<% if (configurations.length > 0) { %>
<% for (var c = 0, cnt = configurations.length; c < cnt; c++) { var k = configurations[c]; %>
<% var show = !hide || expanded.indexOf(k) > -1  %>
        <tr>
            <td colspan="5" class="config_group">
                <div data-config="<%= k %>">
                    <h3 class="toggle <%= show ? 'expanded' : '' %>"><%= k %></h3>
                </div>
            </td>
        </tr>
<% var envs = _.sortBy(environments[k], function(env) {return env.name.toLowerCase();}); %>
<% if (envs.length > 0) { %>
    <% for(var i = 0, count = envs.length; i < count; i++) { var environment = envs[i]; %>
        <tr data-config="<%= k %>" class="<%= show ? '' : 'under_configuration' %>">
            <td class="first"><a href="#project/<%= project.id %>/inst/<%= environment.id %>"><img src="assets/img/env24.png" alt="Env" class="env-icon"><%= environment.name %></a></td>
            <td>
                <% var time = utils.formatTime(environment.creationTime); %>
                <span class="time ellipsis" title="<%= time %>"><%= time %></span>
                <% if (!utils.isSameDay(environment.creationTime, now)) { var date = utils.formatDate(environment.creationTime); %>
                    <span class="date ellipsis" title="<%= date %>"><%= date %></span>
                <% } %>
                <span class="username ellipsis" title="<%= environment.creator %>">by <%= environment.creator %></span>
            </td>
            <td>
                <% if (environment.modificationTime) { %>
                    <% var time = utils.formatTime(environment.modificationTime); %>
                    <span class="time ellipsis" title="<%= time %>"><%= time %></span>
                    <% if (!utils.isSameDay(environment.modificationTime, now)) { var date = utils.formatDate(environment.modificationTime); %>
                    <span class="date ellipsis" title="<%= date %>"><%= date %></span>
                    <% } %>
                    <span class="username ellipsis" title="<%= environment.modifiedBy %>">by <%= environment.modifiedBy %></span>
                <% } else { %>
                N/A
                <% } %>
            </td>
            <td >
                <table id="env-attributes">
                <tr>
                    <td>
                        <span class="ellipsis" title="<%= environment.templateName %>">
                            <%= environment.templateName %>
                        </span>
                    </td>
                    <td>
                        <span class="ellipsis" title="<%= environment.templateVersion %>">
                            <%= environment.templateVersion %>
                        </span>
                    </td>
                </tr>
                <% _.each(environment.attributes, function(attr, key) { if (attr && attr.value) {%>
                    <tr>
                        <td>
                            <span class="ellipsis" title="<%= attr.description %>"><%- attr.description %> </span>
                        </td>
                        <td>
                            <span class="ellipsis" title="<%= attr.value %>"><%- attr.value %></span>
                        </td>
                    </tr>
                    <%} }); %>
                </table>
            </td>
            <td id="<%= environment.id %>-status"> </td>
        </tr>
    <% } %>
<% } %>
<% } %>
<% } else { %>
<tr ><td colspan="5" style="padding: 0" ><div class="information-panel wide" style="margin: -11px; "><p>No instances available</p></div></td></tr>
<% } %>