<div id="top-panel" >
  <div id="page-title"><img id="prj-list-icon" src="assets/img/project-list.png" alt="List"><h1>Project list</h1></div>
  <% if (showCreateLink) { %>
    <a href="admin/create/project" class="button executable"> <span> Create project... </span> </a>
  <% } %>
</div>
    <table id="prj-list" class="main-table attempts">
      <thead>
        <tr id="table-title">
            <th class="first">Project name</th>
            <th>Manager</th>
            <th>Description</th>
            <th>Created</th>
        </tr>
      </thead>
      <tbody>
      <% if (projects.length > 0) { %>

        <% for (var i = 0, count = projects.length; i < count; i++) { var project = projects[i]; %>
        <tr>
            <td class="first name" ><a href="#project/<%= project.id %>"><img class="project-icon" src="assets/img/project24.png"><%- project.name %></a></td>
            <td class="name"><%- project.projectManager %> </td>
            <td class="multiline-description details-cell"><%- project.description %></td>
            <td><span class="time"><%= utils.formatDateTime(project.creationTime) %></span> by <span class="username"><%- project.creator %></span></td>
        </tr>
        <% } %>

      <% } else { %>
        <tr><td colspan="4"> <div class="wide information-panel"><p> No projects available </p></div></td></tr>
      <% } %>
      </tbody>
    </table>
