<table class="main-table intab" >
  <tr>
    <td class="first">Template</td>
    <td style="width: 80%">
        <p style="float:left; margin-top: 2px; margin-bottom: 2px"><%= environment.templateName %> <%= environment.templateVersion %></p>

        <a title="Show template source code" class="ui-widget show-sources ui-state-default" data-template-name="<%= environment.templateName %>" data-template-version="<%= environment.templateVersion %>">
         <span style="float:left; margin-left: 10px" class="ui-icon ui-icon-document" ></span>
        </a>
    </td>
  </tr>
  <tr>
    <td class="first">Environment</td>
    <td style="width: 80%"><%- environment.configuration %></td>
  </tr>

  <tr>
    <td class="first">Created</td>
    <td style="width: 80%"><span class="time"><%= utils.formatDateTime(environment.creationTime) %></span> by <span class="username"><%= environment.creator %></span></td>
  </tr>

  <tr>
     <td class="first">Modified</td>
     <td>
     <% if (environment.modificationTime) { %>
     <span class="time"><%= utils.formatDateTime(environment.modificationTime) %></span> by <span class="username"><%= environment.modifiedBy %></span>
     <% } else { %>
     N/A
     <% } %>
     </td>
  </tr>
  <% for (var i = 0; i < attributes.length; i++) { var attr = attributes[i]; %>
  <tr>
    <td class="first"><%= attr.description %></td>
    <td style="width: 80%">
      <% if (attr.value && attr.value.indexOf("http://") === 0) { %>
      <a href="<%= attr.value %>" target="_blank"> <%= attr.value %> </a>
      <% } else { %>
      <%= attr.value %>
      <% } %>
    </td>
  </tr>
  <% } %>
</table>
