<div id="panel-tab-4" class="tab-content opened"><div class="top-panel">
  <div class="page-title"><h1>Access to environment</h1></div>
  <div class="title-right">
    <a href="javascript:void(0)" class="button modify-access"> <span> Modify </span> </a>
  </div>
</div>

<div class="panel">
  <div>
    <table class="main-table attempts ">
      <thead class="small">
        <th style="width:50%">Users</th>
        <th style="width:50%">Groups</th>
      </thead>
      <tbody >
      <tr >
        <td >
          <% for (var i = 0, count = accessConfiguration.users.length; i < count; i++) { var user = accessConfiguration.users[i]; %>
            <span style="margin-right: 20px; float:left; white-space: nowrap;"><em style="float:left;" class="ui-icon ui-icon-person"> </em> <em style="float:left"> <%- user %> </em> </span>
          <% } %>
        <td>

        <% for (var i = 0, count = accessConfiguration.groups.length; i < count; i++) { var group = accessConfiguration.groups[i]; %>
          <span style="margin-right: 20px; float:left; white-space: nowrap;"><em style="float:left;" class="ui-icon ui-icon-contact"> </em> <em style="float:left"> <%- group %> </em> </span>
        <% } %>
      </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
