<div>
    <a href="javascript:void(0)" class="back"><img src="assets/img/back.png">Back to plugins list</a>
    <div id="tab-head-bar">
        <span id="subtitle"><%= plugin.description %></span>
    </div>
    <div class="key-value-button"></div>
    <% if(!_.isEmpty(plugin.configuration)) { %>
      <% if (!_.isUndefined(settings["constants"])) { %>
        <h4>Read-only Settings</h4>
        <table class="main-table key-value-table settings">
          <thead>
          <tr>
            <th style="width:47%">Key</th>
            <th style="width:48%">Value</th>
          </tr>
          </thead>
          <tbody>
          <% for (var i = 0, count = settings["constants"].length; i < count; i++ ) { var c = settings["constants"][i]; %>
            <tr>
              <td ><%= c.name %></td>
              <td >
                  <% if (c.propertyType.name !== "password") { %>
                    <%- c.value %>
                  <% } else { %>
                    <%- c.value.replace(/./g, "*") %>
                  <% } %>
              </td>
            </tr>
          <% } %>
          </tbody>
        </table>
      <% } %>

      <% if(!_.isUndefined(settings["properties"])) { %>
      <form id="edit-plugin-settings" <% if (!canSave) { %> class="readonly" <% } %>>
        <h4>Editable Settings</h4>
        <table class="main-table key-value-table settings">
          <thead>
            <tr id="table-title">
              <th style="width:47%">Key</th>
              <th style="width:48%">Value</th>
            </tr>
          </thead>
          <tbody>
          <% for (var i = 0, count = settings["properties"].length; i < count; i++ ) { var config = settings["properties"][i]; %>
              <tr>
                <td <% if (config.restartRequired) { %> class="restart-required" title="Changes are applied only after Genesis back-end restart!" <% } %> >
                  <label for="<%= config.name %>" > <%= config.name %></label>
                </td>
                <td ><input id="<%= config.name %>" name="<%= config.name %>" <% if ( config.propertyType.name !== "password" ) { %> type="text" <% } else { %> type="password" <% } %> value="<%- config.value %>" class="property-value"></td>
              </tr>
            <% } %>
          </tbody>
        </table>
        <div class="stepbutton"><a href="javascript: void(0)" class="button save executable"> <span> Save </span> </a> <a href="javascript:void(0)" class="button back" id="ready"> <span> Cancel </span> </a></div>
      </form>
      <% } %>
  <% } else { %>
    <div style="padding-bottom: 15px">Plugin provides no means of configuration</div>
  <% } %>
</div>
