<%
 var title = 'Changes are applied only after Genesis back-end restart!';
 function propClassTitle(property) {
    return 'class = "first' + (property.restartRequired ? ' restart-required" title="' + title + '"' : '"');
  }
%>

<div id="dialog-confirm-reset" style="display: none; ">
    Are you sure you want to restore default settings?
</div>

<div id="tab-panel">
    <div id="tabs" data-tabpanel="header">
        <a href="javascript:void(0)" class="tab tab-selected" id="ro-settings-tab" rel="#rw-settings-panel">
            <span>Editable Settings</span>
        </a>
        <a href="javascript:void(0)" class="tab" id="rw-settings-tab" rel="#ro-settings-panel">
            <span>Read-only Settings</span>
        </a>
    </div>
    <div id="panel">

        <div id="ro-settings-panel" class="tab-content">
            <table class="main-table key-value-table settings">
                <thead>
                <tr id="table-title-ro">
                    <th class="first">Description</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                <% for (var i = 0, count = constants.length; i < count; i++) { var c = constants[i]; %>
                <tr>
                    <td class="first" >
                        <%= c.description ? c.description : c.name %>
                        <a href="javascript:void(0)" rel="#constNames<%=i%>" class="show-keys" title="Show Key">
                          <span class="ui-icon ui-icon-carat-1-s" style="float:right"/>
                        </a>
                        <div class="toggle-content" id="constNames<%=i%>"> <%= c.name %></div>
                    </td>
                    <td>
                      <% if (c.propertyType.name !== "password") { %>
                        <%- c.value %>
                      <% } else { %>
                        <%- c.value.replace(/./g, "*") %>
                      <% } %>
                    </td>
                </tr>
                <% } %>
                </tbody>
            </table>
        </div>

        <div id="rw-settings-panel" class="tab-content opened rw-settings-panel">
            <form id="edit-system-settings" <% if (!canEdit) { %> class="readonly" <% } %> >
                <table class="main-table key-value-table settings">
                    <thead>
                    <tr id="table-title">
                        <th class="first">Description</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% for (var i = 0, count = properties.length; i < count; i++) { var property = properties[i]; %>
                    <tr>
                        <td <%= propClassTitle(property) %> >
                        <%= property.description ? property.description : property.name %>
                        <a href="javascript:void(0)" rel="#propNames<%=i%>" class="show-keys" title="Show Key">
                            <span class="ui-icon ui-icon-carat-1-s" style="float:right"/>
                        </a>
                        <div class="toggle-content" id="propNames<%=i%>"> <%= property.name %></div>
                        </td>
                        <td><input <% if ( property.propertyType.name !== "password" ) { %> type="text" <% } else { %> type="password" <% } %> value="<%- property.value %>"
                            class="property-value" name="<%= property.name %>"/>
                        </td>
                    </tr>
                    <% } %>
                    </tbody>
                </table>
                <div class="stepbutton">
                    <a href="javascript:void(0)" class="save button executable"> <span> Save </span> </a>
                    <a href="javascript:void(0)" class="reset button executable"> <span> Reset </span> </a>
                </div>
            </form>
        </div>
    </div>
</div>
