<div id="top-panel">
    <div id="page-title">
        <img id="env-icon" src="assets/img/workflow32.png" alt="Env">
        <h1 class="envname"><em class="workflow-name"><%= workflow.name %></em></h1>
    </div>
    <div id="env-ops" style="float: right;">
        <div id="title-right">
        </div>
    </div>
    <div class="clear"></div>
</div>
<div id="tab-panel">
    <div id="tabs" data-tabpanel="header">
        <a href="javascript:void(0);" class="tab tab-selected" id="tab1" rel="#panel-tab-3"> <span> Workflow details </span> </a>
    </div>
    <div id="panel">
        <div id="panel-tab-3" class="tab-content opened">

            <div class="clear" style="padding-bottom: 5px;"></div>
            <div class="workflow-section" data-workflow-id="<%= workflow.id %>">
                <div class="notification" style="display:none"></div>
            </div>
        </div>
    </div>
</div>



