<div class="top-panel">
    <div class="page-title"><h2><%= group.id ? "Edit Group" : "Add Group" %></h2></div>
    <div class="title-right">
    </div>
</div>
<div id="tab-panel">
    <div class="panel">
        <div id="panel-tab-1">
            <div class="notification" style="display: none"/>
            <form id="group-attributes" <% if (!canEdit) { %> class="readonly" <% } %>>
                <table class="forform-table">
                    <tr>
                        <td style="width:12%; min-width: 110px;" class="label-column"><label for="group-name" class="label-required">* Group name</label></td>
                        <td>
                            <input id="group-name" name="name" type="text" class="required name" value="<%= group.name %>" <% if (group.id) { %> disabled <% } %>/>
                        </td>
                    </tr>
                    <tr>
                        <td class="label-column"> <label for="group-description" class="label-required">* Description</label></td>
                        <td>
                            <textarea id="group-description" rows="" cols="" name="description" class="required description"><%- group.description %></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="label-column"><label for="mailingList">Mailing List</label></td>
                        <td>
                            <input id="mailingList" name="mailingList" type="text" class="name" value="<%= group.mailingList %>"/>
                        </td>
                    </tr>
                </table>

              <h4>Roles</h4>
              <table class="main-table">
                <% for (var i = 0, count = roles.length; i < count; i++) { var role = roles[i]; %>
                <tr>
                  <td class="check">
                    <input type="checkbox" name="roles" value="<%= role %>" <% if (groupRoles[role]) { %> checked="checked" <% } %> />
                  </td>
                  <td> <%= role %> </td>
                </tr>
                <% } %>
              </table>

              <h4>Users</h4>
                <table class="main-table">
                    <% for (var i = 0, count = users.length; i < count; i++) { var user = users[i]; %>
                    <tr>
                        <td class="check">
                            <input type="checkbox" name="users" value="<%= user.username %>" <% if (usersInGroup[user.username]) { %> checked="checked" <% } %> />
                        </td>
                        <td><%= user.username %> </td>
                    </tr>
                    <% } %>
                </table>
                <br class="clear"/>
                <div class="form-notice">All fields marked with * are required</div>
                <div class="stepbutton"><a href="javascript:void(0)" class="save button executable"> <span> Save </span> </a>
                <a href="javascript:void(0)" class="button back" id="ready"> <span> Cancel </span> </a></div>
            </form>
        </div>
    </div>
</div>