<div id="dialog-confirm" style="display: none; ">
    Are you sure you want to delete user group?
</div>

<div style="display: block; ">
  <div class="top-panel">
      <div class="page-title"><h2>User Groups</h2></div>
      <% if (canCreate) { %> <a href="javascript:void(0)" class="button create-group executable"> <span> Add... </span> </a>  <% } %>
  </div>

  <div class="panel">
    <div id="panel-tab-1">
      <% if (groups.length > 0) { %>
        <table class="main-table">
        <thead>
        <tr id="table-title">
          <th class="first" style="width: 25%">Group name</th>
          <th style="width: 37%">Description</th>
          <th style="width: 25%">Mailing list</th>
          <th class="actions">Actions</th>
        </tr>
        </thead>
        <tbody>
        <% for (var i = 0, count = groups.length; i < count; i++) { var group = groups[i]; %>
        <tr>
          <td class="first"><%- group.name %></td>
          <td class="multiline-description"><%- group.description %></td>
          <td><%- group.mailingList %></td>
          <td class="actions">
            <a href="javascript:void(0)" class="edit-group" data-index="<%= group.id %>">Edit</a>
            <% if (accessRights[group.id].canDelete) { %>  <a href="javascript:void(0)" class="delete-group executable" data-index="<%= group.id %>">Delete</a> <% } %>
          </td>
        </tr>
        <% } %>
        </tbody>
      </table>
      <% } else { %>
        <div class="information-panel"><p> No active groups </p></div>
      <% } %>
    </div>
  </div>
</div>