<div class="tab-section">
    <div class="notification" style="display:none"></div>
    <form id="workflow-parameters-form" action="" style="width: 80%;overflow-x:hidden">
        <input type="text" name="ie_quirks" style="display: none"/>  <!-- https://connect.microsoft.com/IE/feedback/ViewFeedback.aspx?FeedbackID=389736 -->
        <div id="env-main-settings" >
            <label for="envName" class="label-required" >*&nbsp; Name</label>
            <div class="value">
                <input type="text" id="envName" name="envName" class="required" >
            </div>
            <div style="clear: both"></div>

            <% if (configs.length) { %>
            <div style="margin-top: 10px; margin-bottom: 10px;">
              <label for="configuration" class="label-required" >*&nbsp; Environment</label>
              <div class="value">
                  <select id="configuration" name="configId" >
                    <% for (var i = 0, count = configs.length; i < count; i++) { var config = configs[i]; %>
                      <option value="<%- config.id %>"><%- config.name %></option>
                    <% } %>

                  </select>
              </div>
            </div>
              <div style="clear: both"></div>
            <% } %>

            <div id="workflow_vars"/>
        </div>
        <div class="form-notice">All fields marked with * are required</div>
        <br class="clear"/>
    </form>
</div>
