<%
  function isRequired(variable) {
    return !variable.optional ? "required" : "";
  }

  function isSelected(key, variable) {
    return variable.defaultValue && variable.defaultValue === key ? 'selected="selected"' : '';
  }
%>

<div class="tab-section">
  <form id="environment-settings" action="">
    <input type="text" name="ie_quirks" style="display: none"/>  <!-- https://connect.microsoft.com/IE/feedback/ViewFeedback.aspx?FeedbackID=389736 -->
    <table id="env-main-settings">
        <tr>
            <td class="first"><label for="envName" class="label-required">* Name</label></td>
            <td><input type="text" id="envName" name="envName" class="required"></td>
        </tr>
        <% for(var i = 0; i < variables.length; i++) { var variable = variables[i]; %>
        <tr>
            <td class="first ">
                <label for="<%= variable.name %>" class=<%= (variable.optional ? "label-plain" : "label-required") %>>
                <% if (! variable.optional) { %>*&nbsp;<% } %><%= variable.description %>
                </label>
            </td>
            <td>
                <% if (typeof(variable.values) !== "undefined" && _.size(variable.values) || variable.dependsOn) { %>
                  <% if (! _.size(variable.values)) { %>
                    <select id="<%= variable.name %>" disabled="disabled" name="<%= variable.name %>" class="workflow-variable <%= isRequired(variable) %>">
                  <% } else { %>
                    <select id="<%= variable.name %>" name="<%= variable.name %>" class="workflow-variable <%= isRequired(variable) %>">
                        <option value="" >Please select</option>
                        <% _.each(_.keys(variable.values), function(key) { %>
                            <option value="<%= variable.values[key] %>" <%= isSelected(key, variable) %> ><%= key %></option>
                        <% }) %>
                    </select>
                  <% } %>
                 <% } else if (variable.type == 'Boolean') { %>
                    <input type="checkbox" class="workflow-variable <%= isRequired(variable) %>" id="<%= variable.name %>"
                           name="<%= variable.name %>" <% if (variable.defaultValue) { %> checked="checked" <% } %> >
                <% } else { %>
                  <input type="text" class="workflow-variable <%= isRequired(variable) %>" id="<%= variable.name %>" name="<%= variable.name %>" value="<%= variable.defaultValue %>" >
                <% } %>
            </td>
        </tr>
        <% } %>
    </table>
    <div class="form-notice">All fields marked with * are required</div>
    <br class="clear"/>
  </form>
</div>
