<% if (environments.length > 0) { %>

    <% for(var i = 0, count = environments.length; i < count; i++) { var environment = environments[i]; %>
        <tr>
            <td class="first"><a href="#project/<%= project.id %>/env/<%= environment.id %>"><%= environment.name %></a></td>
            <td><%= environment.templateName %> <%= environment.templateVersion %></a></td>
            <td><%= environment.creator %></td>
            <td id="<%= environment.name %>-status"><img alt="status" src="<%= statusImages[environment.status] %>" class="status" style="margin-right: 10px!important; display: inline-block;"/> <%= environment.status %></td>
        </tr>
    <% } %>

<% } else { %>
    <tr ><td colspan="4" style="padding: 0" ><div class="information-panel wide" style="margin: -11px; "><p>No environments available</p></div></td></tr>
<% } %>