<% if (environments.length > 0) { %>
    <% for(var i = 0, count = environments.length; i < count; i++) { var environment = environments[i]; %>
        <tr>
            <td class="first"><a href="#project/<%= project.id %>/env/<%= environment.id %>"><img src="/assets/img/env24.png" alt="Env" class="env-icon"><%= environment.name %></a></td>
            <td ><%- environment.configuration %></td>
            <td><span class="time"><%= utils.formatDate(environment.creationTime) %></span> by <span class="username"><%= environment.creator %></span></td>
            <td>
                <% if (environment.modificationTime) { %>
                <span class="time"><%= utils.formatDate(environment.modificationTime) %></span> by <span class="username"><%= environment.creator %></span>
                <% } else { %>
                N/A
                <% } %>
            </td>
            <td >
                <table id="env-attributes">
                <tr>   <td><%= environment.templateName %></td><td> <%= environment.templateVersion %></td></tr>
                <% _.each(environment.attributes, function(attr, key) { if (attr && attr.value) {%>
                    <tr>
                     <td >
                        <%- attr.description %>
                     </td>
                    <td title="<%- attr.value %>" >
                         <%- attr.value %>
                    </td>
                    </tr>
                    <%} }); %>
                </table>
            </td>
            <td id="<%= environment.id %>-status"> </td>
        </tr>
    <% } %>

<% } else { %>
    <tr ><td colspan="6" style="padding: 0" ><div class="information-panel wide" style="margin: -11px; "><p>No instances available</p></div></td></tr>
<% } %>