<div id="top-panel">
    <div id="page-title">
        <h1>Project settings</h1>
    </div>
    <div id="title-right">
    </div>
</div>

<div id="tab-panel">
    <div id="tabs" data-tabpanel="header">
        <a href="javascript:void(0)" class="tab tab-selected" id="main-settings-tab" rel="#main-settings-panel" >
            <span> Main settings </span>
        </a>
        <a href="javascript:void(0)" class="tab" id="credentials-settings-tab" rel="#credentials-settings-panel" >
            <span> Credentials </span>
        </a>
        <a href="javascript:void(0)" class="tab" id="project-roles-tab" rel="#project-roles-panel" >
            <span> Users &amp; Roles </span>
        </a>
        <a href="javascript:void(0)" class="tab" id="project-servers-tab" rel="#project-servers-panel" >
            <span> Server arrays </span>
        </a>
        <a href="javascript:void(0)" class="tab" id="project-databags-tab" rel="#project-databags-panel" >
            <span> Data bags </span>
        </a>
    </div>
    <div id="panel">
        <div id="main-settings-panel" class="tab-content opened">
        </div>

        <div id="credentials-settings-panel" class="tab-content">
        </div>

        <div id="project-roles-panel" class="tab-content">
        </div>

        <div id="project-servers-panel" class="tab-content">
        </div>

        <div id="project-databags-panel" class="tab-content">
        </div>
    </div>
</div>
