<!--

    Copyright (c) 2010-2012 Grid Dynamics Consulting Services, Inc, All Rights Reserved
      http://www.griddynamics.com

      This library is free software; you can redistribute it and/or modify it under the terms of
      the GNU Lesser General Public License as published by the Free Software Foundation; either
      version 2.1 of the License, or any later version.

      THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
      AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
      IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
      DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE
      FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
      DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
      SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
      CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
      OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
      OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

      Project:     Genesis
      Description:  Continuous Delivery Platform

-->
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>

	<logger name="com.griddynamics" level="debug"/>
    <logger name="com.griddynamics.genesis.configuration.SquerylTransactionManager" level="info"/>
    <!--<logger name="com.griddynamics.genesis.jclouds" level="trace"/>-->

    <logger name="org.jclouds" level="debug"/>
    <logger name="org.jclouds.http" level="warn"/>
    <logger name="org.jclouds.rest.internal" level="warn"/>
    <logger name="jclouds.compute" level="debug"/>
    <logger name="com.jcraft" level="debug"/>
    <!--<logger name="org.eclipse.jetty" level="debug"/>-->
    <logger name="org.springframework.web" level="warn"/>
    <logger name="org.springframework.security" level="error"/>
    <logger name="org.springframework.web.servlet.PageNotFound" level="error"/>

    <!-- JClouds JSON body -->
    <!--<logger name="jclouds.wire" level="debug" /> -->
    <!-- JClouds JSON headers -->
    <!--<logger name="jclouds.headers" level="debug" />-->

    <!-- JClouds SSH client -->
    <logger name="jclouds.ssh" level="debug" />
    <logger name="org.jclouds.ssh" level="debug" />
    <logger name="com.griddynamics.genesis.http" level="trace"/>
</configuration>