<%

    var failStatuses = _(["Failed", "Canceled", "Suspended"]);
    var runningStatuses = _(["Requested", "Executed"]);

    var stepStatusMap = {
        'Requested': 'not-executed-step',
        'Failed': 'failed-step',
        'Executing': 'active-step',
        'Succeed': 'succeeded-step'
    };

    var today = new Date();

    var splitDetails = function(item) {
      var detailsRegExp = /([^\{]*)(.*)/g;

      var details = detailsRegExp.exec(item.replace("\n", " "));
      if(details == null && $.browser.mozilla) {
        details = detailsRegExp.exec(item);
      }

      if(details != null) {
        return { short: details[1],  params: details[2]}
      } else {
        return { short : item, params: "" }
      }

      return detailsObject;
    }
%>
<div class="pagination" style="float:right" >
  <a href="javascript:void(0)" class="button previous-page" > <span> &lt; </span> </a>
  <span class="pagination-state" > <%= page %> / <%= pagesCount %> </span>
  <a href="javascript:void(0)" class="button next-page" > <span> &gt; </span> </a>
  <div class="clear"></div>
</div>
<div class="clear" style="padding-bottom: 5px;"></div>

<% for (var i = 0, workflowsCount  = workflows.length; i < workflowsCount; i++) { var workflow = workflows.at(i).attributes; %>
<div class="workflow-section" >
  <div class="workflow" data-timestamp="<%= workflow.executionStartedTimestamp %>">
    <img src="/assets/img/arrow-left.png" class="toggle">

    <h3 class="toggle"><%= workflow.name %></h3>

    <div class="workflow-actions">
      Started: <span class="date">
      <% if (workflow.executionStartedTimestamp) { %>
       <%= $.formatDate.date(workflow.executionStartedTimestamp , utils.isSameDay(today, workflow.executionStartedTimestamp) ? "HH:mm:ss" : "HH:mm:ss dd/MM/yyyy") %>
      <% } else { %>
        No information
      <% } %>
      </span>
      By: <span class="username"><%= workflow.startedBy %></span>
      Finished: <span class="date">
      <% if (workflow.executionFinishedTimestamp) { %>
        <%= $.formatDate.date(workflow.executionFinishedTimestamp, utils.isSameDay(today, workflow.executionFinishedTimestamp) ? "HH:mm:ss" : "HH:mm:ss dd/MM/yyyy") %>
      <% } else { %>
        --
      <% } %>
      </span>
      Duration: <span class="duration"><%= utils.timeDuration(workflow.executionStartedTimestamp, workflow.executionFinishedTimestamp) %></span>
      <span class="status-section">Status: <span class=<%= (failStatuses.indexOf(workflow.status) != -1 ? "bad" : "normal") %> > <%= workflow.status %></span></span>
    </div>
  </div>
  <div class="history-details <%= expandedSections[workflow.executionStartedTimestamp] ? 'visible' : '' %>" >
    <table class="intab workflow-history" style="table-layout: fixed">
      <% if (!_.isUndefined(workflow.steps)) { %>
          <thead>
            <tr id="table-title">
              <th class="first name" >Steps / Actions</th>
              <th class="phase">Phase</th>
              <th class="status">Status</th>
              <th class="details">Details</th>
              <th class="started">Started</th>
              <th class="stopped">Finished</th>
              <th class="logs">Logs</th>
            </tr>
            </thead>
          <tbody>
            <% for(var j = 0, count = workflow.steps.length; j < count; j++) { var step = workflow.steps[j]; var details = splitDetails(step.details); %>
              <tr class="<%= stepStatusMap[step.status] %>" >
                <% if (step.status  !== 'Requested') { %>
                <td class="first step-details-expander toggle" data-actions-rel="#step-<%= step.stepId %>-actions" data-step-id="<%= step.stepId %>" data-step-status="<%= step.status %>">
                  <img src="/assets/img/arrow-left.png" class="toggle">
                  <a href="javascript: void(0)">Step <%= j + 1 %> </a>
                </td>
                <% } else { %>
                  <td class="first" >
                    <span style="padding-left: 15px">Step <%= j + 1 %></span>
                  </td>
                <% } %>
                <td class="phase"><%= step.phase %></td>
                <td class="status"><%= step.status %></td>
                <td class="details-cell">
                  <span style="float:left;"><%= details.short %></span>&nbsp;
                  <% if (details.params.length > 100) { %>
                    <a href="javascript:void(0)" rel="#details<%= step.stepId %>" class="show-details" title="Show details">
                      <span class="ui-icon ui-icon-carat-1-s" ></span>
                    </a>
                    <div class="toggle-content" id="details<%= step.stepId %>"> <%- details.params %></div>
                  <% } else { %>
                     <%- details.params %>
                   <% } %>
                </td>
                <td>
                  <%= step.started ? $.formatDate.date(step.started, utils.isSameDay(today, step.started) ? "HH:mm:ss" : "HH:mm:ss dd/MM/yyyy") : "" %>
                </td>
                <td>
                  <%= step.finished? $.formatDate.date(step.finished, utils.isSameDay(today, step.finished) ? "HH:mm:ss" : "HH:mm:ss dd/MM/yyyy") : "" %>
                </td>
                <td>
                  <% if ( step.status !== "Requested" ) { %>
                    <a href="/rest/projects/<%= workflows.projectId %>/envs/<%= workflows.envId %>/logs/<%= step.stepId %>" target="_blank" data-bypass>Step Log</a>
                    <!--<a href="javascript:void(0)" class="step-details-expander" data-step-id="<%= step.stepId %>"> Actions </a>-->
                  <% } %>
                </td>
              </tr>
              <tr id="step-<%= step.stepId %>-actions" <% if (!expandedStepsHtml[step.stepId]) { %> style="display:none" <% } %>
                  class="step-action <%= stepStatusMap[step.status] %>" data-step-id="<%= step.stepId %>">
                <td colspan="7" class="subtable">
                  <% if (expandedStepsHtml[step.stepId]) { %>
                    <%= expandedStepsHtml[step.stepId] %>
                  <% } %>
                </td>
              </tr>
            <% } %>
          </tbody>
      <% } else { %>
        <tr>
          <td>No information available</td>
        </tr>
      <% } %>
    </table>
  </div>
</div>


<% } %>