<div class="top-panel">
  <div class="page-title"><h2><%- title %></h2></div>
  <div class="title-right"></div>
</div>

<div class="panel">
  <div class="notification" style="display:none"></div>
  <div>
    <form class="section">
      <h4>Users</h4>

      <select id="users-select" name="users-select">
        <% for (var i = 0, count = role.users.length; i < count; i++) { var user = role.users[i]; %>
         <option value="<%= user.username %>" class="selected"><%- utils.formatUserLabel(user) %></option>

        <% } %>
      </select>

      <h4>Groups</h4>
      <select id="groups-select" name="groups-select">
        <% for (var i = 0, count = role.groups.length; i < count; i++) { var group = role.groups[i]; %>
          <option value="<%= group %>" class="selected"><%- group %></option>
        <% } %>
      </select>
      <% if (showButtons) { %>
        <div class="stepbutton">
            <a href="javascript:void(0)" class="save button executable"> <span> Save </span> </a>
            <a href="javascript:void(0)" class="button back" id="ready"> <span> Cancel </span> </a>
        </div>
      <% } %>
    </form>
  </div>
</div>
