{
  "id": "1-environment",
  "name": "Environment level template",
  "scope": "environment",
  "properties": {
    "validated": {"description": "This is a long key", "default": 1234,  "validation": {"Must be integer value >= 0": "int_nonnegative"}},
    "required": {"description": "This is an other key", "default": "aaa", "required": true},
    "foo": {"description": "This is another key", "default": "bbb"}
  }
}