<div style="display: block; ">
  <div class="top-panel">
      <div class="page-title"><h2>Project properties</h2></div>
  </div>

  <div class="panel">

    <div class="notification" style="display: none;"></div>

    <div id="properties">

    </div>

    <div class="stepbutton" id="save-link-div">
      <a href="javascript:void(0)" class="button" id="save-link">
        <span> Apply </span>
      </a>
      <a href="#project/<%= projectId %>" class="button" id="cancel-link">
        <span> Cancel </span>
      </a>
    </div>

  </div>
</div>